body {
    margin: 0;
}


.badge-free {
    vertical-align: top;
}

.material-icons.material-logo {
    vertical-align: bottom;
}

.material-truck {
    color:darkblue;
    vertical-align: baseline;
    font-size: large;
}


.materialcart {
    font-size: 18px;
    vertical-align: middle;
}


.badge-active {
    vertical-align: baseline;
}


.material-launch {
    font-size: 17px;
    vertical-align: middle;
}


.material-edit {
    font-size: 18px;
    vertical-align: middle;
}


.fa {
    font-size: 0.9rem;
}


.btn-save {
    background-color: coral;
}


.btn-edit {
    vertical-align: bottom;
}



.banner {
    width: 100%;
    height: 250px;
    background: url('https://images.unsplash.com/photo-1552590635-e94502090862?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1452&q=80');
    background-position: bottom;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
