body {
    margin: 0;
}


.badge-active {
    vertical-align: baseline;
}
.material-launch {
    font-size: 17px;
    vertical-align: middle;
}
.material-trailer {
    vertical-align: middle;
}

.materialheart {
    vertical-align:baseline;
}
.materialheart:hover {
    color: red;
    cursor: pointer;

}
.material-search {
    font-size: 18px;
}

.material-icons.material-logo {
    vertical-align: bottom;
}
.fa {
    font-size: 0.9rem;
}
.btn-save {
    background-color: pink;
}

.btn-edit {
    vertical-align: bottom;
    background-color: pink;
}
.btn-watch {
    background-color: pink;
}


.material-icons.material-delete:hover {
    color: red;
    font-size: 25px;
}